* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
input[type="text"] {
  width: 300px;
}
li {
  display: flex;
  width: 300px;

  justify-content: space-around;
  align-items: center;
}
.active {
  background: tomato;
}
